.idea/ 
*.iml 
*.ipr 
*.iws 
out/
build/ 
.gradle/
local.properties 
bin/ 
gen/
*.o 
*.o.d
.DS_Store 
Thumbs.db
*.bak 
*.temp 
*.tmp 
*.swp 
.~ 
~*.*
.classpath 
.settings/ 
.project
.externalNativeBuild/